{% extends "template.html" %}

{% block js %}
{% endblock %}

{% block conteudo %}

<div class="infoDadoPessoal blocoEscuro">

	<img class="infoDadoPessoal_foto" src="{{ url_for('static', filename='img/foto-pessoal.png')}}" alt="Danilo Moreira Nogueira">

	<h1 class="infoDadoPessoal_titulo">Seu Nome Completo</h1>

	<p class="infoDadoPessoal_resumo"> Seu resumo Profissional. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed placerat purus nec iaculis bibendum. Phasellus varius, lectus nec consequat fermentum, lectus metus finibus urna, ut.
	</p>
	<h1 class="infoDadoPessoal_titulo">Contatos</h1>
	<section class="contatoLinks">
		<a class="iconeLink" href="tel:{{phone_number}}">
			<img class="iconeLink_img" src="{{ url_for('static', filename='img/telIcon.svg')}}">
		</a>
		<a class="iconeLink" href="{{linkedin_link}}" target="_blank">
			<img class="iconeLink_img" src="{{ url_for('static', filename='img/inIcon.svg')}}">
		</a>
		<a class="iconeLink" href="{{github_link}}" target="_blank">
			<img class="iconeLink_img" src="{{ url_for('static', filename='img/gitIcon.svg')}}">
		</a>
		<a class="iconeLink" href="{{instagram_link}}" target="_blank">
			<img class="iconeLink_img" src="{{ url_for('static', filename='img/instaIcon.svg')}}">
		</a>
	</section>
</div>

<div class="infoCV blocoClaro">
	<section class="secaoCv">
		<h1 class="secaoCv_titulo">EDUCATION</h1>
        {% for education in education_list %}
        <p class="secaoCv_paragrafo"><strong>{{education.get('name', '')}}</strong></p>
        <p class="secaoCv_paragrafo"> <i>{{education.get('institution', '')}}</i> </p>
        <p class="secaoCv_paragrafo"><i>{{education.get('graduation_year', '')}} - {{education.get('location', '')}}</i></p>
        <p class="secaoCv_paragrafo">{{education.get('extra_information', '')}}</p>
		{%endfor%}
	</section>

	<section class="secaoCv">
		<h1 class="secaoCv_titulo">PROFESSIONAL EXPIRIENCE</h1>
        {% for experience in experiences_list %}
		<h2 class="secaoCv_subtitulo">{{experience.get('name', '')}}</h2>
        <p class="secaoCv_paragrafo"><strong>{{experience.get('company', '')}} - {{experience.get('location', '')}}</strong></p>
        <p class="secaoCv_paragrafo"><strong>{{experience.get('working_period', '')}}</strong></p>
		<p class="secaoCv_paragrafo">{{experience.get('job_description', '')}}</p>
        <br>
		{%endfor%}
	</section>
	<section class="secaoCv">
		<h1 class="secaoCv_titulo">SKILLS</h1>
		<ul>
            {% for skill in skills_list %}
			<li class="habilidades-list">
                <div class="habilidade">{{skill.get('name', '')}} </div>
                <div>{{skill.get('strength', '')}}</div>
            </li>
            {%endfor%}
		</ul>
	</section>
	<section class="secaoCv">
		<h1 class="secaoCv_titulo">Informações Adicionais</h1>
		<p class="secaoCv_paragrafo">•	Informação 01</p>
		<p class="secaoCv_paragrafo">•	Informação 02</p>
		<p class="secaoCv_paragrafo">•	Informação 03</p>
	</section>
</div>
{% endblock %}

{% block jsfim %}
{{ super() }}
<script src="{{ url_for('static', filename='js/habilidades.js') }}"></script>
{% endblock %}
