<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="utf-8">
  <title>HOG - Escolha seus Patches</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='img/hog/hogicon.jpg')}}">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:700" rel="stylesheet">
  <link rel="stylesheet" href="../static/css/hog.css">
  <script src="../static/js/jquery.min.js"></script>
  <script src="../static/js/inputqtd.js"></script>
  <script src="../static/js/hog.js"></script>

</head>
<body>
  <div class="main">
    <div class="cabecalho">
      <h1>Selecione os patches que deseja,</h1>
      <h2>ao final informe seus dados.</h2>
      <!-- <p>Se tiver dúvidas de como os patches são usados, dê uma olhadas nesses exemplos:</p>
      <p>
        <a href="http://www.hdforums.com/forum/attachments/the-general-b-s-forum/52221d1245360201-is-this-patch-ok-with-clubs-hog.jpg">Patches nas costas</a>
      </p>
      <p></p>
      <p></p> -->

    </div>
    <div class="hog-form">
      <form class="dados-form">
        <h3>Patches Logo</h3>

        <div class="patche-container">
          <img src="../static/img/hog/2001 - Patch Grande Costas H.O.G. Logo.png" alt="">
          <div class="info">
            <label class="etiqueta-patche">2001 - Patch Grande Costas H.O.G. Logo</label><br>
            <span class="qtd">Quantidade:</span><input type="number" value="0" class="qtdinput" name="patche2001">
          </div>
        </div>

        <div class="barra"></div>

        <div class="patche-container">
          <img src="../static/img/hog/2002 - Patch Grande (Costas) H.O.G. Heritage Logo.png" alt="">
          <div class="info">
            <label class="etiqueta-patche">2002 - Patch Grande (Costas) H.O.G. Heritage Logo</label><br>
            <span class="qtd">Quantidade:</span><input type="number" value="0" class="qtdinput" name="patche2002">
          </div>
        </div>

        <div class="barra"></div>

        <div class="patche-container">
          <img src="../static/img/hog/2003 - Patch Grande Ladies of Harley (LOH).png" alt="">
          <div class="info">
            <label class="etiqueta-patche">2003 - Patch Grande Ladies of Harley (LOH)</label><br>
            <span class="qtd">Quantidade:</span><input type="number" value="0" class="qtdinput" name="patche2003">
          </div>
        </div>

        <div class="barra"></div>

        <div class="patche-container">
          <img src="../static/img/hog/2022 - Patch Pequeno H.O.G. Logo.png" alt="">
          <div class="info">
            <label class="etiqueta-patche">2022 - Patch Pequeno H.O.G. Logo</label><br>
            <span class="qtd">Quantidade:</span><input type="number" value="0" class="qtdinput" name="patche2022">
          </div>
        </div>

        <div class="barra"></div>

        <div class="patche-container">
          <img src="../static/img/hog/2023 - Patch Pequeno H.O.G. Heritage Logo.png" alt="">
          <div class="info">
            <label class="etiqueta-patche">2023 - Patch Pequeno H.O.G. Heritage Logo</label><br>
            <span class="qtd">Quantidade:</span><input type="number" value="0" class="qtdinput" name="patche2023">
          </div>
        </div>

        <div class="barra"></div>

        <div class="patche-container">
          <img src="../static/img/hog/2024 - Patch Pequeno Ladies of Harley (LOH).png" alt="">
          <div class="info">
            <label class="etiqueta-patche">2024 - Patch Pequeno Ladies of Harley (LOH)</label><br>
            <span class="qtd">Quantidade:</span><input type="number" value="0" class="qtdinput" name="patche2024">
          </div>
        </div>

        <div class="barra"></div>

        <h3>Patches Officers</h3>

        <div class="patche-container">
          <img class="officers" src="../static/img/hog/2025 - Director.png" alt="">
          <div class="info">
            <label class="etiqueta-patche">2025 - Director</label><br>
            <span class="qtd">Quantidade:</span><input type="number" value="0" class="qtdinput" name="patche2025">
          </div>
        </div>

        <div class="barra"></div>

        <div class="patche-container">
          <img class="officers" src="../static/img/hog/2026 - Road Captain.png" alt="">
          <div class="info">
            <label class="etiqueta-patche">2026 - Road Captain</label><br>
            <span class="qtd">Quantidade:</span><input type="number" value="0" class="qtdinput" name="patche2026">
          </div>
        </div>

        <div class="barra"></div>

        <div class="patche-container">
          <div class="no-image">Imagem não <br> disponível</div>
          <div class="info">
            <label class="etiqueta-patche">2027 - Chapter Member</label><br>
            <span class="qtd">Quantidade:</span><input type="number" value="0" class="qtdinput" name="patche2027">
          </div>
        </div>

        <div class="barra"></div>

        <div class="patche-container">
          <img class="officers" src="../static/img/hog/2028 - Secretary.png" alt="">
          <div class="info">
            <label class="etiqueta-patche">2028 - Secretary</label><br>
            <span class="qtd">Quantidade:</span><input type="number" value="0" class="qtdinput" name="patche2028">
          </div>
        </div>

        <div class="barra"></div>

        <div class="patche-container">
          <div class="no-image">Imagem não <br> disponível</div>
          <div class="info">
            <label class="etiqueta-patche">2029 - Past Director</label><br>
            <span class="qtd">Quantidade:</span><input type="number" value="0" class="qtdinput" name="patche2029">
          </div>
        </div>

        <div class="barra"></div>

        <div class="patche-container">
          <div class="no-image">Imagem não <br> disponível</div>
          <div class="info">
            <label class="etiqueta-patche">2030 - Past Officer</label><br>
            <span class="qtd">Quantidade:</span><input type="number" value="0" class="qtdinput" name="patche2030">
          </div>
        </div>

        <div class="barra"></div>

        <div class="patche-container">
          <div class="no-image">Imagem não <br> disponível</div>
          <div class="info">
            <label class="etiqueta-patche">2031 - Activities Officer</label><br>
            <span class="qtd">Quantidade:</span><input type="number" value="0" class="qtdinput" name="patche2031">
          </div>
        </div>

        <div class="barra"></div>

        <div class="patche-container">
          <img class="officers" src="../static/img/hog/2033 - Assistant Director.png" alt="">
          <div class="info">
            <label class="etiqueta-patche">2033 - Assistant Director</label><br>
            <span class="qtd">Quantidade:</span><input type="number" value="0" class="qtdinput" name="patche2033">
          </div>
        </div>

        <div class="barra"></div>

        <div class="patche-container">
          <div class="no-image">Imagem não <br> disponível</div>
          <div class="info">
            <label class="etiqueta-patche">2034 - Life Member</label><br>
            <span class="qtd">Quantidade:</span><input type="number" value="0" class="qtdinput" name="patche2034">
          </div>
        </div>

        <div class="barra"></div>

        <div class="patche-container">
          <img class="officers" src="../static/img/hog/2035 - Safety Officer.png" alt="">
          <div class="info">
            <label class="etiqueta-patche">2035 - Safety Officer</label><br>
            <span class="qtd">Quantidade:</span><input type="number" value="0" class="qtdinput" name="patche2035">
          </div>
        </div>

        <div class="barra"></div>

        <div class="patche-container">
          <img class="officers" src="../static/img/hog/2036 - Ladies Of Harley Officer.png" alt="">
          <div class="info">
            <label class="etiqueta-patche">2036 - Ladies Of Harley Officer</label><br>
            <span class="qtd">Quantidade:</span><input type="number" value="0" class="qtdinput" name="patche2036">
          </div>
        </div>

        <div class="barra"></div>

        <div class="patche-container">
          <img class="officers" src="../static/img/hog/2037 - Photographer.png" alt="">
          <div class="info">
            <label class="etiqueta-patche">2037 - Photographer</label><br>
            <span class="qtd">Quantidade:</span><input type="number" value="0" class="qtdinput" name="patche2037">
          </div>
        </div>

        <div class="barra"></div>

        <div class="patche-container">
          <img class="officers" src="../static/img/hog/2038 - Treasurer.png" alt="">
          <div class="info">
            <label class="etiqueta-patche">2038 - Treasurer</label><br>
            <span class="qtd">Quantidade:</span><input type="number" value="0" class="qtdinput" name="patche2038">
          </div>
        </div>

        <div class="barra"></div>

        <div class="patche-container">
          <img class="officers" src="../static/img/hog/2039 - Historian.png" alt="">
          <div class="info">
            <label class="etiqueta-patche">2039 - Historian</label><br>
            <span class="qtd">Quantidade:</span><input type="number" value="0" class="qtdinput" name="patche2039">
          </div>
        </div>

        <div class="barra"></div>

        <div class="patche-container">
          <img class="officers" src="../static/img/hog/2040 - Editor.png" alt="">
          <div class="info">
            <label class="etiqueta-patche">2040 - Editor</label><br>
            <span class="qtd">Quantidade:</span><input type="number" value="0" class="qtdinput" name="patche2040">
          </div>
        </div>

        <div class="barra"></div>

        <div class="patche-container">
          <div class="no-image">Imagem não <br> disponível</div>
          <div class="info">
            <label class="etiqueta-patche">2041 - Head Road Captain</label><br>
            <span class="qtd">Quantidade:</span><input type="number" value="0" class="qtdinput" name="patche2041">
          </div>
        </div>

        <div class="barra"></div>

        <div class="patche-container">
          <img class="officers" src="../static/img/hog/2042- Webmaster.png" alt="">
          <div class="info">
            <label class="etiqueta-patche">2042- Webmaster</label><br>
            <span class="qtd">Quantidade:</span><input type="number" value="0" class="qtdinput" name="patche2042">
          </div>
        </div>

        <div class="barra"></div>

        <div class="patche-container">
          <img class="officers" src="../static/img/hog/2043 - Membership Officer.png" alt="">
          <div class="info">
            <label class="etiqueta-patche">2043 - Membership Officer</label><br>
            <span class="qtd">Quantidade:</span><input type="number" value="0" class="qtdinput" name="patche2043">
          </div>
        </div>

        <div class="barra"></div>

        <h3>Patch Chapters</h3>

        <div class="patche-container">
          <img class="officers" src="../static/img/hog/2021 - Rota 65 Cuiabá Chapter Brasil.png" alt="">
          <div class="info">
            <label class="etiqueta-patche">2021 - Rota 65 Cuiabá Chapter Brasil</label>
            <span class="qtd">Quantidade:</span><input type="number" value="0" class="qtdinput" name="patche2021">
            <p class="exemplo">Exemplo ao lado: <br> 2005 - Autostar São Paulo Chapter Brasil</p>
            <p class="obs">Caso tenha interesse nos patches de outros chapters, por favor entre em contato.</p>
          </div>
        </div>

        <div class="barra"></div>

        <div class="dados-contato">
          <label class="etiqueta">Nome: </label>
          <input class="contato-input" id="nome" type="tesxt" name="nome" title="Seu nome" placeholder="Seu nome">

          <label class="etiqueta" for="telefone">Telefone:</label>
          <input class="contato-input" id="phone" type="tel" name="phone" value="+55 (__) _____-____"
          pattern="^\+55 \(\d\d\) [0-9]{4,5}-[0-9]{4}$" required>
          <button id="btn-enviar" type="button">Enviar</button>
        </div>




      </form>
    </div>
  </div>
</body>
</html>
