{% extends "template.html" %}

{% block js %}
{% endblock %}

{% block conteudo %}

<div>
	<div class="apresentacao is-openWhite">
		<h2 class="apresentar_subTitulo"><strong>Olá</strong>, eu sou {{name}} e</h2>
		<h1 class="apresentacao_titulo">FRASE <span>DESTAQUE</span> </h1>
		<h2 class="apresentar_subTitulo limiteTexto">Parágrafo</h2>
		<h2 class="apresentar_subTitulo">Entre em
			<strong>
				<a class="apresentacao_link" href="{{ url_for('contato') }}">Contato</a>.
			</strong>
		</h2>
	</div>
</div>

{% endblock %}

{% block jsfim %}
{{ super() }}
{% endblock %}
